// COLORS
$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);

// BREAKPOINTS
$desktop-breakpoint: 1440px;

// RESET
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

// A
a{
    text-decoration: none;
    color: $dark-grayish-blue;
    font-weight: 500;
}

// UL
ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.8rem;
}

// BUTTONS
button:focus{
    outline: none !important;
}

.btn{
    border-radius: 200px;
    font-weight: 600;
    color: white;
    border: none;
    width: 80%;
    padding: .9rem 4rem;
    font-size: .93rem;
    cursor: pointer;
    font-family: inherit;
}

.ios-btn{
    margin-top: 1.9rem ;
    background-color: $strong-cyan;
    box-shadow: 2px 12px 38px -10px $strong-cyan;
    border: 1px solid $strong-cyan;
    transition: all .3s ease-in-out;
    &:hover{
        box-shadow: 2px 12px 38px -3px $strong-cyan;
    }
}

.mac-btn{
    margin-top: 1.2rem ;
    background-color: $light-blue;
    box-shadow: 2px 12px 38px -10px $light-blue;
    border: 1px solid $light-blue;
    &:hover{
        box-shadow: 2px 12px 38px -3px $light-blue;
    }
}

// H2
h2{
    color:$dark-grayish-blue ;
    font-size: 1.95rem;
    margin-bottom: 1rem;
    text-align: center;
}

// H3
h3{
    color:$dark-grayish-blue ;
    font-size: 1.55rem;
    margin-bottom: 1rem;
    text-align: center;
}

// P
p{
    color: $grayish-blue;
    width: 320px;
    line-height: 1.5;
    text-align: center;
}

// SECTION
section{
    margin-block: 12rem;
}

// ---------------------------------------------
// HEADER
header{
    padding-top: 7rem;
    background-image: url("./../images/bg-header-mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .logo{
            width: 125px;
            margin-bottom: 3rem;
        }
        span{
            display: block;
        }
    }
}

// SNIPPET SECTION
section.snippet{
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .snippet-features{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 5.5rem;

            img{
                width: 270px;
            }

            .snippet-features-list{
                div{
                    margin-block: 3rem;
                }
            }
        }

    }
}

// ACCESS SECTION
section.access{
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img{
            width: 270px;
            margin-top: 3rem;
        }
    }
}

// WORKFLOW SECTION
section.workflow{
    margin-bottom: 3rem;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .workflow-features div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-block: 3.2rem;
            img{
                margin-bottom: 2rem;
            }
        }
    }
}

// IMAGES SECTION
section.images{
    margin-top: 3rem;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
            width: 110px;
            margin-block: 2.2rem;
        }
    }
}

// CLIPBOARD SECTION
section.clipboard{
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .clipboard-btn{
            text-align: center;
        }
    }
}

// FOOTER
footer{
    background-color: rgba(220, 220, 220, 0.222);
    padding: 5rem;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .footer-logo{
            margin-bottom: 2rem;
            img{
                width: 50px;
            }
        }
        .social-icons{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            margin-top: 3rem;
        }
    }
}
