$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
}