@import 'breakpoint';

// COLORS
$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);

// RESET
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    @include dsk{
        max-width: 1440px;
    }
}

// A
a{
    text-decoration: none;
    color: $dark-grayish-blue;
    font-weight: 500;
}

// nav
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    @include dsk(){
        flex-direction: row;
        align-items: flex-start;
        gap: 6rem;
    }
    .nav-first-row , .nav-second-row , .nav-third-row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        @include dsk (){
            gap: 3rem;
        }

        
        a{
            @include dsk(){
                font-size: 1.1rem;
                font-weight: 500;
            }
        }
    }


}



// BUTTONS
button:focus{
    outline: none !important;
}

.btn{
    border-radius: 200px;
    font-weight: 600;
    color: white;
    border: none;
    width: 80%;
    padding: .9rem 4rem;
    font-size: .93rem;
    cursor: pointer;
    font-family: inherit;
    @include dsk{
        font-size: 1.1rem;
    }
}

.ios-btn{
    margin-top: 1.9rem ;
    background-color: $strong-cyan;
    box-shadow: 2px 12px 38px -10px $strong-cyan;
    border: 1px solid $strong-cyan;
    transition: all .3s ease-in-out;
    &:hover{
        box-shadow: 2px 12px 38px -3px $strong-cyan;
    }
}

.mac-btn{
    margin-top: 1.9rem ;
    background-color: $light-blue;
    box-shadow: 2px 12px 38px -10px $light-blue;
    border: 1px solid $light-blue;
    white-space: nowrap;
    transition: all .3s ease-in-out;
    &:hover{
        box-shadow: 2px 12px 38px -3px $light-blue;
    }
}

// H2
h2{
    color:$dark-grayish-blue ;
    font-size: 1.95rem;
    margin-bottom: 1rem;
    text-align: center;
    @include dsk(){
        font-size: 2.3rem;
    }
}

// H3
h3{
    color:$dark-grayish-blue ;
    font-size: 1.55rem;
    margin-bottom: 1rem;
    text-align: center;
    @include dsk(){
        font-size: 2rem;
    }
}

// P
p{
    color: $grayish-blue;
    max-width: 320px;
    line-height: 1.5;
    text-align: center;
    @include dsk(){
        max-width: 650px;
        font-size: 1.15rem;
    }
}

// SECTION
section{
    margin-block: 12rem;
}

// ---------------------------------------------
// HEADER
header{
    padding-top: 7rem;
    background-image: url("./../images/bg-header-mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    @include dsk(){
        background-image: url("./../images/bg-header-desktop.png");
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .logo{
            width: 125px;
            margin-bottom: 3rem;
        }
        span{
            display: block;
            @include dsk{
                display: inline;
            }
        }
        .header-btn{
            @include dsk{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
            }
        }
    }
}

// SNIPPET SECTION
section.snippet{
    @include dsk(){
        position: relative;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        .snippet-features{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 5.5rem;
            @include dsk(){
                justify-content: flex-end;
                align-items: flex-end;
            }

            img{
                width: 270px;
                @include dsk(){
                    width: 810px;
                    position: absolute;
                    left: -3%;
                    top: 30%;
                }
            }

            .snippet-features-list{
                }
                div{
                    margin-block: 3rem;
                    h3{
                        @include dsk(){
                            text-align: left;
                        }                        
                    }
                    p{
                        @include dsk(){
                            text-align: left;
                        }
                    }

                }
            }
        }

    }

// ACCESS SECTION
section.access{
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img{
            width: 270px;
            margin-top: 3rem;
            @include dsk(){
                width: 800px;
                margin-top: 4rem;
            }
        }
    }
}

// WORKFLOW SECTION
section.workflow{
    margin-bottom: 3rem;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .workflow-features{
            display: flex;
            align-items: center;
            justify-content:center;
            text-align: center;
            flex-direction: column;
            @include dsk(){
                justify-content: space-between;
                flex-direction: row;
                gap: 8rem;
                margin-top: 6rem;
            }
            div{
                margin-block: 3.2rem;
                
                @include dsk(){
                    margin-block: 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    flex: 1;
                }
                
                img{
                    margin-bottom: 2rem;
                    @include dsk(){
                        width: 50px;
                        height: 44px;
                    }
                }
            }
        }
         
    }
}

// IMAGES SECTION
section.images{
    margin-top: 3rem;
    @include dsk(){
        margin-top: 10rem;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include dsk(){
            flex-direction: row;
            justify-content: space-around;
        }

        img{
            max-width: 110px;
            margin-block: 2.2rem;
            @include dsk(){
                margin-block: 0;
                max-width: 140px;
            }
        }
    }
}

// CLIPBOARD SECTION
section.clipboard{
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .clipboard-btn{
            text-align: center;
            @include dsk(){
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
            }
        }
    }
}

// FOOTER
footer{
    background-color: rgba(220, 220, 220, 0.222);
    padding: 5rem;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include dsk(){
            flex-direction: row;
            justify-content: space-between;
        }
        .footer-logo{
            margin-bottom: 2rem;
            @include dsk(){
                margin-bottom: 0rem;
            }
            img{
                width: 50px;
                @include dsk(){
                    width: 70px;
                }
            }
        }
        .social-icons{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            margin-top: 3rem;
            cursor: pointer;
            @include dsk(){
                margin-top: 0rem;
            }
        }
    }
}
